footer {
  border-top: solid 1px #30363d;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  max-width: 1080px;
}

footer nav {
  background-color: transparent;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 544px;
  margin: 32px 0;
}

li {
  color: #2f81f7;
}

footer p {
  color: #6e7681;
}
