h1 {
  font-size: 14px;
  color: #e6edf3;
  font-weight: 600;
  font-size: 14px;
}

h2 {
  font-size: 12px;
  color: #848d97;
}

// input {
//   background-color: #010409;
//   padding: 10px 8px;
//   margin: 4px 0px 0px;
//   width: 100%;
//   display: flex;
//   align-self: stretch;
//   --inner-action-size: 28px;
//   padding: 10px 8px;
//   height: 40px;
// }

input {
  line-height: 20px;
  color: #e6edf3;
  vertical-align: middle;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 transparent;
  -webkit-box-align: stretch;
  align-items: stretch;
  min-height: 32px;
  overflow: hidden;
  background-color: #010409;
  width: 100%;
  display: flex;
  align-self: stretch;
  --inner-action-size: 28px;
  padding: 10px 8px;
  height: 40px;
  margin: 4px 0;
}

input:focus {
  border: 2px solid #3fb950;
}
