<main>
  <article>
    <h1>Cadastro</h1>
    <section>
      <app-input
        [title]="'Nome de usuário'"
        [subtitle]="'Esse nome será exibido publicamente.'"></app-input>
      <app-input [title]="'Email'"></app-input>
      <app-input [title]="'Senha'"></app-input>

      <div class="termos-de-uso">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <p>Li e estou de acordo com os <a>Termos de Uso.</a></p>
      </div>
    </section>
    <button>Criar cadastro</button>
  </article>
</main>
