main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: aliceblue;
}
